# fastapi==0.115.6
# uvicorn[standard]==0.32.1
# google-cloud-bigquery==3.27.0
# google-cloud-translate==3.19.0
# pydantic==2.10.4
# python-dotenv==1.0.1

fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
google-cloud-bigquery==3.25.0
google-cloud-dataplex==2.5.0
google-cloud-translate==3.15.3
google-cloud-datacatalog==3.31.0